*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release
app/debug
*.aab
passwords.txt
..bfg-report/
.vscode
/app/.idea
EO2/**/dalvik-cache/
EO2/data/backup/sys/
EO2/data/backup/proc/
/ffmpeg/
configuration.json
/EO2/data/backup
.claude/pr-screenshots/
/update-out/
